In [34]:
import pandas as pd 

spamCollection = pd.read_csv("Assets/SMSSpamCollection", header = None, sep = "\t", names = ["Label","SMS"])

In [35]:
randomizedSpamCollection = spamCollection.sample(frac = 1, random_state= 1)

# a train - test ratio of 80-20 will be used 


training_ratio = round(len(randomizedSpamCollection) * 0.8)

training_set = randomizedSpamCollection[:training_ratio].reset_index( drop = True )
test_set = randomizedSpamCollection[training_ratio:].reset_index( drop = True )

<p><b>List of things to do:</b></p>
<ul>
    <li>Tokenization</li>
    <li>Lowercasing</li>
    <li>Removing nonalphabetic</li>
</ul>
<p>I'm skipping stemming here because I dont want to confuse myself first lol. Leplace smoothing parameter will be set to 1</p>

In [36]:
#clean here , training set 

def remove_numeric(corpus):

    for index, sentence in enumerate(corpus):
        currentSentence = sentence 
        currentSentenceList = currentSentence.split()
        newSentence = filter(lambda x: x.isalpha(), currentSentenceList)
        joinedNewSentence = " ".join(newSentence)
        corpus[index] = joinedNewSentence

In [37]:
def lower_case(corpus):

    for index, sentence in enumerate(corpus):
        currentSentence = sentence 
        currentSentenceList = currentSentence.split()
        
        for index2,word in enumerate(currentSentenceList):
            currentSentenceList[index2] = word.lower()
            
        newSentence = " ".join(currentSentenceList)
        corpus[index] = newSentence

<p>Separating Spam and not spam from training set</p>

In [38]:
trainingMessagesSpam = training_set[training_set["Label"] == "spam"].reset_index(drop = True)

trainingMessagesNotSpam = training_set[training_set["Label"] == "ham"].reset_index(drop = True)

In [39]:
trainingMessagesSpam

    Label                                                SMS
0    spam  FreeMsg Why haven't you replied to my text? I'...
1    spam  Congrats! 2 mobile 3G Videophones R yours. cal...
2    spam  FREE MESSAGE Activate your 500 FREE Text Messa...
3    spam  Call from 08702490080 - tells u 2 call 0906635...
4    spam  Someone has conacted our dating service and en...
..    ...                                                ...
595  spam  Congratulations YOU'VE Won. You're a Winner in...
596  spam  Win the newest “Harry Potter and the Order of ...
597  spam  Someone U know has asked our dating service 2 ...
598  spam  YOUR CHANCE TO BE ON A REALITY FANTASY SHOW ca...
599  spam  U've been selected to stay in 1 of 250 top Bri...

[600 rows x 2 columns]

In [40]:
#removing numeric words etc 

trainingMessagesSpamList = list(trainingMessagesSpam["SMS"])
remove_numeric(trainingMessagesSpamList)
trainingMessagesSpamList[0:2]

['FreeMsg Why you replied to my female and live Luv to hear from Netcollex Ltd per msg reply Stop to end',
 'mobile Videophones R call videochat wid ur play java Dload polyH noline']

In [41]:
#lower casing all the words 
lower_case(trainingMessagesSpamList)
trainingMessagesSpamList[0:2]

['freemsg why you replied to my female and live luv to hear from netcollex ltd per msg reply stop to end',
 'mobile videophones r call videochat wid ur play java dload polyh noline']

In [42]:
from sklearn.feature_extraction.text import CountVectorizer


vectorizerSpam = CountVectorizer()

vectorizer = CountVectorizer(stop_words = ["all", "in", "the", "is" "and", "I", "you", "this", "there", "your"])
matrix = vectorizer.fit_transform(trainingMessagesSpamList)
result = pd.DataFrame(matrix.toarray(), columns = vectorizer.get_feature_names())
result

,about,abroad,abta,ac,access,accident,accommodation,accommodationvouchers,account,action,...,yes,yesterday,ymca,yourinclusive,yours,yr,yrs,zebra,zed,zouk
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
# ADD THE FREQUENCY OF EACH WORD to the end of the dataframe 
result.loc['Total_Frequency'] = result.sum(axis = 0)

In [44]:
result

,about,abroad,abta,ac,access,accident,accommodation,accommodationvouchers,account,action,...,yes,yesterday,ymca,yourinclusive,yours,yr,yrs,zebra,zed,zouk
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
597,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
598,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
599,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Total_Frequency,7,1,1,4,4,2,1,1,13,3,...,8,1,1,1,6,7,2,1,4,1

<p><b>FOR SPAM TRAINING, 1392 WORDS IN TOTAL </b></p>
<p><b>TIME FOR NOT SPAM </b></p>

In [45]:
trainingMessagesNotSpam

     Label                                                SMS
0      ham                       Yep, by the pretty sculpture
1      ham      Yes, princess. Are you going to make me moan?
2      ham                         Welp apparently he retired
3      ham                                            Havent.
4      ham  I forgot 2 ask ü all smth.. There's a card on ...
...    ...                                                ...
3853   ham             How about clothes, jewelry, and trips?
3854   ham  Sorry, I'll call later in meeting any thing re...
3855   ham  Babe! I fucking love you too !! You know? Fuck...
3856   ham  Hello my boytoy ... Geeee I miss you already a...
3857   ham                           Wherre's my boytoy ? :-(

[3858 rows x 2 columns]

In [46]:
trainingMessagesNotSpamList = list(trainingMessagesNotSpam["SMS"])
remove_numeric(trainingMessagesNotSpamList)
trainingMessagesNotSpamList[0:2]

['by the pretty sculpture', 'Are you going to make me']

In [47]:
lower_case(trainingMessagesNotSpamList)
trainingMessagesNotSpamList[0:2]

['by the pretty sculpture', 'are you going to make me']

In [48]:
vectorizerSpam = CountVectorizer()

vectorizer2 = CountVectorizer(stop_words = ["all", "in", "the", "is" "and", "I", "you", "this", "there", "your"])
matrix2 = vectorizer2.fit_transform(trainingMessagesNotSpamList)
result2 = pd.DataFrame(matrix2.toarray(), columns = vectorizer2.get_feature_names())
result2

,aa,aah,aaniye,abdomen,abi,ability,abiola,abj,able,about,...,yun,yunny,yuo,yuou,yup,zac,zhong,zindgi,zoe,zyada
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
result2.loc['Total_Frequency'] = result2.sum(axis = 0)

In [50]:
result2

,aa,aah,aaniye,abdomen,abi,ability,abiola,abj,able,about,...,yun,yunny,yuo,yuou,yup,zac,zhong,zindgi,zoe,zyada
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3855,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3856,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3857,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Total_Frequency,1,1,1,1,1,1,7,1,21,120,...,3,1,2,1,26,1,1,1,1,1

<p><b>Not spam list has in total, 4815 words</b></p>
<p>We can use the log function to calculate the probabilities, and omit out the denominator because denominator is repeated and the same for every single calculation</p>

In [51]:
ProbabilityOfNotSpam = 0.86541
ProbabilityOfSpam = 0.13459

<p>Now we can start testing our model! L O L</p>

In [52]:
import math


def classifyMessage(message, result, result2, spam, notSpam):



    #determinine probability of spam first 
    spamProb = 1
    notSpamProb = 1
    messageList = message.split()
    remove_numeric(messageList)
    lower_case(messageList)
    for message in messageList:
        if message not in result.columns:
            spamProb *= 1/1394
        else:
            probability = result[message]["Total_Frequency"] / 1392
            spamProb *= probability
        
        if message not in result2.columns:
            notSpamProb *= 1/4817
        else:
            probability = result2[message]["Total_Frequency"] / 4815
            notSpamProb *= probability


    spamProb *= spam
    notSpamProb *= notSpam
    if spamProb > notSpamProb:
        return "spam"
    else:
        return "ham"

In [53]:
#Calculating Accuracy 

test_set["result"] = test_set["SMS"].apply(classifyMessage, args = (result, result2, ProbabilityOfSpam, ProbabilityOfNotSpam))
test_set.head()

  Label                                                SMS result
0   ham          Later i guess. I needa do mcat study too.   spam
1   ham             But i haf enuff space got like 4 mb...    ham
2  spam  Had your mobile 10 mths? Update to latest Oran...   spam
3   ham  All sounds good. Fingers . Makes it difficult ...    ham
4   ham  All done, all handed in. Don't know if mega sh...   spam

In [54]:
correct = 0

for index, row in test_set.iterrows():

    correctResult = row[0]
    predicted = row[2]
    if correctResult == predicted:
        correct+=1

In [55]:
correct

807

In [56]:
print("Classified Correctly", correct)
print("Classified Wrongly", len(test_set)- correct)
print("Accuracy" , correct / len(test_set))

Classified Correctly 807
Classified Wrongly 307
Accuracy 0.7244165170556554